.watchlist {
  position: relative;
  min-height: 350px;
  overflow: hidden;

  .watchlist__inner {
    position: relative;
    z-index: 1;
  }

  .watchlist__image {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #0d2558c1;
    }

    > img {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
