<h2>Movie Filters</h2>

<app-range-slider></app-range-slider>

<form *ngIf="formModel" [formGroup]="formModel">
  <fieldset>
    <legend>Year</legend>

    <label for="year_gt">From</label>

    <input
      type="number"
      id="year_gt"
      [value]="formModel.get('year')?.value[0]"
      (input)="onMinYearChange($event)"
      [min]="year.min"
      [max]="year.max"
    />

    <label for="year_lt">To</label>

    <input
      type="number"
      id="year_lt"
      [value]="formModel.get('year')?.value[1]"
      (input)="onMaxYearChange($event)"
      [min]="year.min"
      [max]="year.max"
    />

    <nouislider
      [connect]="true"
      [min]="year.min"
      [max]="year.max"
      [step]="1"
      formControlName="year"
    ></nouislider>
  </fieldset>

  <fieldset>
    <legend>Runtime</legend>

    <label for="runtime_gt">Runtime GT</label>

    <nouislider
      [connect]="true"
      [min]="runtime.min"
      [max]="runtime.max"
      [step]="1"
      formControlName="runtime"
    ></nouislider>
  </fieldset>

  <fieldset>
    <legend>Rating</legend>

    <label for="rating_gt">Rating GT</label>

    <nouislider
      [connect]="true"
      [min]="rating.min"
      [max]="rating.max"
      [step]="1"
      formControlName="rating"
    ></nouislider>
  </fieldset>

  <fieldset>
    <legend>Votes</legend>

    <label for="votes_gt">Votes GT</label>

    <nouislider
      [connect]="true"
      [min]="votes.min"
      [max]="votes.max"
      [step]="1"
      formControlName="votes"
    ></nouislider>
  </fieldset>

  <fieldset *ngIf="genres?.length" formArrayName="genres">
    <legend>Genres</legend>

    <div *ngFor="let genre of genres; let i = index">
      <label [for]="getGenreId(genre)">{{ genre.name }}</label>

      <input
        type="checkbox"
        [id]="getGenreId(genre)"
        [formControlName]="genre.name"
      />
    </div>
  </fieldset>
</form>
