<p>movie_id: {{ movie?.movie_id }}</p>

<p>Title: {{ movie?.title }}</p>

<p>start_year: {{ movie?.start_year }}</p>

<p>runtime_minutes: {{ movie?.runtime_minutes }}</p>

<p>rating: {{ movie?.rating }}</p>

<p>votes_count: {{ movie?.votes_count }}</p>

<p>genres:</p>

<ul>
  <li *ngFor="let genre of movie?.genres">{{ genre }}</li>
</ul>

<h3>Poster</h3>

<img [src]="imageUrl">

<h3>Description</h3>

<p>{{ description }}</p>

<button (click)="showTrailer()">Show Trailer</button>

<ng-container *ngIf="youtubeTrailerEmbedUrl">
  <iframe
    width="560"
    height="315"
    [src]="youtubeTrailerEmbedUrl"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen>
  </iframe>
</ng-container>

