<h2>Movie Details</h2>

<p>movieId: {{ movie?.movieId }}</p>

<p>Title: {{ movie?.title }}</p>

<p>startYear: {{ movie?.startYear }}</p>

<p>runtimeMinutes: {{ movie?.runtimeMinutes }}</p>

<p>rating: {{ movie?.rating }}</p>

<p>votesCount: {{ movie?.votesCount }}</p>

<p>genres:</p>

<ul>
  <li *ngFor="let genre of movie?.genres">{{ genre }}</li>
</ul>

<h3>Poster</h3>

<img [src]="imageUrl">

<h3>Description</h3>

<p>{{ description }}</p>

<button (click)="showTrailer()" [disabled]="isLoading">Show Trailer</button>

<ng-container *ngIf="isLoading">
  <p>Loading...</p>
</ng-container>

<ng-container *ngIf="youtubeTrailerEmbedUrl">
  <iframe
    width="560"
    height="315"
    [src]="youtubeTrailerEmbedUrl"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen>
  </iframe>
</ng-container>

