<div class="range-slider">
  <div class="range-slider__inner">
    <mat-form-field>
      <mat-label>{{ labelMin }}</mat-label>

      <input
        matInput
        type="number"
        [min]="min"
        [max]="max"
        [value]="control.value[0]"
        (input)="onMinChange($event)"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ labelMax }}</mat-label>

      <input
        matInput
        type="number"
        [min]="min"
        [max]="max"
        [value]="control.value[1]"
        (input)="onMaxChange($event)"
      />
    </mat-form-field>
  </div>
  <!-- /.range-slider__inner -->

  <nouislider
    [connect]="true"
    [min]="min"
    [max]="max"
    [step]="1"
    [formControl]="control"
  ></nouislider>
</div>
<!-- /.range-slider -->
