.movie-list {
  &__inner {
    display: flex;
  }

  &__aside {
    flex: 0 0 max(22vw, 300px);
  }

  &__main {
    flex-grow: 1;
    padding: 0 20px;
  }

  table {
    width: 100%;
  }

  // &__items {
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   grid-gap: 1rem;
  // }
}
