<div class="movie">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="['/movies', movie?.movieId]"
          >Title: {{ movie?.title }}</a
        >
      </mat-card-title>
    </mat-card-header>

    <app-dialog [buttonLabel]="'Add to watchlist'">
      <div class="movie-content">
        <p>Title: {{ movie?.title }}</p>

        <p>startYear: {{ movie?.startYear }}</p>

        <p>runtimeMinutes: {{ movie?.runtimeMinutes }}</p>

        <p>rating: {{ movie?.rating }}</p>

        <p>votesCount: {{ movie?.votesCount }}</p>

        <p>genres:</p>

        <ul>
          <li *ngFor="let genre of movie?.genres">{{ genre }}</li>
        </ul>
      </div>

      <app-form [movieId]="movie?.movieId"></app-form>
    </app-dialog>
    <!-- <button (click)="addToWatchlist(movie?.movieId)">Add</button> -->
  </mat-card>
</div>
<!-- /.movie -->
