<!-- <mat-form-field appearance="fill">
  <mat-label>Choose watch state</mat-label>

  <mat-select>
    <mat-option value="plan-to-watch">Plan to watch</mat-option>

    <mat-option value="watching">Watching</mat-option>

    <mat-option value="watched">Watched</mat-option>
  </mat-select>
</mat-form-field>

<div>
  <button mat-raised-button color="accent">Add</button>
</div> -->

<form #addToWatchlistForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <input type="text" name="username" [(ngModel)]="username" />

  <p>Chosen status: {{ currentStatus }}</p>

  <p>Chosen rating: {{ currentRating }}</p>

  <select *ngIf="watchlists.length" name="watchlists" id="watchlists">
    <option *ngFor="let watchlist of watchlists" value="{{ watchlist.title }}">
      {{ watchlist.title }}
    </option>
  </select>

  <select *ngIf="statuses.length" name="status" id="status" [(ngModel)]="currentStatus">
    <option *ngFor="let status of statuses" [value]="status">
      {{ status }}
    </option>
  </select>

  <select *ngIf="ratings.length" name="rating" id="rating" [(ngModel)]="currentRating">
    <option value="Unrated">-</option>

    <option *ngFor="let rating of ratings" value="{{ rating }}">
      {{ rating }}
    </option>
  </select>

  <input type="checkbox" name="checkbox" id="check-0" />

  <input type="radio" name="radio" id="rad-0" />

  <input type="submit" value="Submit" />
</form>
