@import "nouislider/dist/nouislider.css";

:root {
  --header-height: 56px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
  color: #fff;
}

a {
  color: #fff;
}

a.active-link {
  color: rgb(200, 63, 200)
}

ul {
  list-style: none;
  padding: 0;
}

.notification-error {
  background: rgb(191, 4, 4);
  color: #fff;
}


.notification-success {
  background: rgb(4, 191, 4);
  color: #fff;
}

.shell {
  max-width: 1280px;
  padding-inline: 30px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  padding-top: 56px;
}

.footer {
  border: 2px solid red;
}

.main {
  width: 100%;
}

.main__body {
  flex-grow: 1;
  padding: 20px;
}

.main__aside {
  flex: 0 0 max(22vw, 300px);
}

.widgets {
  position: sticky;
  right: 0;
  top: 56px;
  background: rgb(30, 30, 30);
  padding: 20px;
}

.sidebar {
  position: sticky;
  left: 0;
  top: 56px;
  background: rgb(30, 30, 30);
  padding: 20px;
}

.sidebar__inner {
  min-height: calc(100vh - 56px);
}

.widgets__inner {
  min-height: calc(100vh - 56px);
}
