<form #chooseWatchlistForm="ngForm" novalidate>
  <div>
    <mat-form-field appearance="fill" *ngIf="watchlists?.length">
      <mat-label>Watchlist</mat-label>

      <mat-select
        #watchlist="ngModel"
        name="watchlist"
        id="watchlist"
        [(ngModel)]="currentWatchlist"
        required
      >
        <mat-option>--</mat-option>

        <mat-option *ngFor="let watchlist of watchlists" value="{{ watchlist.id }}">{{ watchlist.title }}</mat-option>
      </mat-select>

      <mat-error *ngIf="watchlist?.invalid">Please choose a watchlist</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill" *ngIf="statuses?.length">
      <mat-label>Status</mat-label>

      <mat-select
        #status="ngModel"
        name="status"
        id="status"
        [(ngModel)]="currentStatus"
        required
      >
        <mat-option>--</mat-option>

        <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
      </mat-select>

      <mat-error *ngIf="status?.invalid">Please choose a status</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill" *ngIf="ratings?.length">
      <mat-label>Rating</mat-label>

      <mat-select
        name="rating"
        id="rating"
        [(ngModel)]="currentRating"
      >
        <mat-option>--</mat-option>

        <mat-option *ngFor="let rating of ratings" value="{{ rating }}">
          {{ rating }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="buttons">
    <button type="submit" mat-raised-button color="accent" (click)="createNewWatchlist()">Create New Watchlist</button>

    <button type="submit" mat-raised-button color="primary" (click)="addToWatchlist()">Add</button>
  </div>
</form>
