<div>
  <p>movie_id: {{ movie?.movie_id }}</p>

  <a [routerLink]="['/movies', movie?.movie_id]">Title: {{ movie?.title }}</a>
</div>

<app-dialog [buttonLabel]="'Add to watchlist'">
  <div class="movie-content">
    <p>Title: {{ movie?.title }}</p>

    <p>start_year: {{ movie?.start_year }}</p>

    <p>runtime_minutes: {{ movie?.runtime_minutes }}</p>

    <p>rating: {{ movie?.rating }}</p>

    <p>votes_count: {{ movie?.votes_count }}</p>

    <p>genres:</p>

    <ul>
      <li *ngFor="let genre of movie?.genres">{{ genre }}</li>
    </ul>
  </div>
  <!-- /.movie-content -->

  <app-form></app-form>
</app-dialog>
<!-- <button (click)="addToWatchlist(movie?.movie_id)">Add</button> -->

<hr>
